@font-face {
    font-family: 'montserrat-bold';
    src: url('../static/fonts/Montserrat-Bold.ttf') format('embedded-opentype'),
        url('../static/fonts/Montserrat-Bold.otf') format('truetype');
}

@font-face {
    font-family: 'montserrat-extraBold';
    src: url('../static/fonts/Montserrat-ExtraBold.ttf') format('embedded-opentype'),
        url('../static/fonts/Montserrat-ExtraBold.otf') format('truetype');
}

@font-face {
    font-family: 'montserrat-light';
    src: url('../static/fonts/Montserrat-Light.ttf') format('embedded-opentype'),
        url('../static/fonts/Montserrat-Light.otf') format('truetype');
}

@font-face {
    font-family: 'montserrat-medium';
    src: url('../static/fonts/Montserrat-Medium.ttf') format('embedded-opentype'),
        url('../static/fonts/Montserrat-Medium.otf') format('truetype');
}

@font-face {
    font-family: 'montserrat-regular';
    src: url('../static/fonts/Montserrat-Regular.ttf') format('embedded-opentype'),
        url('../static/fonts/Montserrat-Regular.otf') format('truetype');
}